{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- cloudian CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Cloudian</title>
</head>
<body>
    <div class="page-header">
        <h1>단어구름 생성기</h1>
    </div>

    <div class="content container">
        <br />
        사용 방법:<br />
        1. 단어구름으로 만들고 싶은 내용을 아래에 입력한다.<br />
        2. '모양 선택'에서 원하는 단어구름 모양을 고른다.<br />
        3. '단어구름 생성' 버튼을 누르고 기다린다.<br />
        4. 완성된 단어구름 이미지를 다운로드 받는다.<br />
        <br />
        주의 사항:<br />
        1. 한글만 입력해주세요. 그 밖의 언어는 단어구름으로 만들 수 없습니다.<br />
        2. 문장이 너무 짧거나 단어의 수가 적으면 모양이 제대로 안 나올 수 있습니다.<br />
    </div>

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <div class="content container">
        <br/>
        <br/>
        <form action="{% url 'cloudian:wc_create' %}" method="post">
            {% csrf_token %}
            <label for="shapes">모양 선택:</label>
            <select id="shapes" name="shapes">
                <option value="fas fa-dog">강아지</option>
                <option value="fas fa-cloud">구름</option>
                <option value="fas fa-flag">깃발</option>
                <option value="fas fa-filter">깔때기</option>
                <option value="fas fa-exclamation">느낌표</option>
                <option value="fas fa-anchor">닻</option>
                <option value="fas fa-square">둥근 정사각형</option>
                <option value="fas fa-fish">물고기</option>
                <option value="fas fa-comment">말풍선</option>
                <option value="fas fa-star">별</option>
                <option value="fas fa-bread-slice">빵</option>
                <option value="fas fa-apple-alt">사과</option>
                <option value="fas fa-user">사람</option>
                <option value="fas fa-crown">왕관</option>
                <option value="fas fa-circle">원</option>
                <option value="fas fa-square-full">정사각형</option>
                <option value="fas fa-bell">종</option>
                <option value="fas fa-heart">하트</option>
                <option value="fas fa-skull">해골</option>
            </select>
            <textarea name="content" id="content" rows="15"></textarea>
            <input type="submit" value="단어구름 생성">
        </form>
        <br />
    </div>

    <div class="content container">
        <br />
        포항제철고 인공지능 수학 동아리 Math AI (유튜브 채널: <a href="https://www.youtube.com/c/MathMVP">Math MVP</a>)<br />
        <br />
        This site was created by Donghyeon Gu. (gdonghyeon@postech.ac.kr) <br />
        <br />
        <br />
        Copyright (c) 2012 Andreas Christian Mueller<br />
        <br />
        Permission is hereby granted, free of charge, to any person obtaining a copy of<br />
        this software and associated documentation files (the "Software"), to deal in<br />
        the Software without restriction, including without limitation the rights to<br />
        use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of<br />
        the Software, and to permit persons to whom the Software is furnished to do so,<br />
        subject to the following conditions:<br />
        <br />
        The above copyright notice and this permission notice shall be included in all<br />
        copies or substantial portions of the Software.<br />
        <br />
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS<br />
        FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR<br />
        COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER<br />
        IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN<br />
        CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
        <br />
        <br />
        MIT License<br />
        <br />
        Copyright (c) 2019-2020 Max Woolf<br />
        <br />
        Permission is hereby granted, free of charge, to any person obtaining a copy<br />
        of this software and associated documentation files (the "Software"), to deal<br />
        in the Software without restriction, including without limitation the rights<br />
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
        copies of the Software, and to permit persons to whom the Software is<br />
        furnished to do so, subject to the following conditions:<br />
        <br />
        The above copyright notice and this permission notice shall be included in all<br />
        copies or substantial portions of the Software.<br />
        <br />
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS<br />
        FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR<br />
        COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER<br />
        IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN<br />
        CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
    </div>
</body>
</html>