{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- cloudian CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Cloudian</title>
</head>
<body>
    <div class="page-header">
        <h1>Generador de nubes de palabras</h1>
    </div>

    <div class="content container">
        <br />
        Language: <a href="{% url 'cloudian:main_kr' %}">한국어</a>
        <a href="{% url 'cloudian:main_en' %}">English</a>
        <a href="{% url 'cloudian:main_es' %}">Español</a><br />
        <br />
        <br />
        Cómo usar:<br />
        1. Escribe el texto que quieres hacer en una nube de palabras en la caja que está abajo.<br />
        2. Elige la forma de nube de palabra que quieras de 'Las Formas'.<br />
        3. Presiona el botón 'Generar' y espera.<br />
        4. Descarga la imagen completa de la nube de palabra.<br />
        <br />
        Notas:<br />
        1. Las palabras entre paréntesis pueden no ser reconocidas adecuadamente.<br />
        2. Si la oración es demasiado corta o el número de palabras es pequeño, la nube de palabra puede no generarse adecuadamente.<br />
        3. Algunas marcas de puntuación o números pueden ser impresos juntos.<br />
    </div>

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <div class="content container">
        <br/>
        <br/>
        <form action="{% url 'cloudian:wc_create_kr' %}" method="post">
            {% csrf_token %}
            <label for="shapes">Las Formas:</label>
            <select id="shapes" name="shapes">
                <option value="fas fa-anchor">Ancla</option>
                <option value="fas fa-flag">Bandera</option>
                <option value="fas fa-bell">Campana</option>
                <option value="fas fa-circle">Círculo</option>
                <option value="fas fa-heart">Corazón</option>
                <option value="fas fa-crown">Corona</option>
                <option value="fas fa-skull">Cráneo</option>
                <option value="fas fa-square-full">Cuadrado</option>
                <option value="fas fa-square">Cuadrado redondo</option>
                <option value="fas fa-star">Estrella</option>
                <option value="fas fa-filter">Filtro</option>
                <option value="fas fa-comment">Globo de discurso</option>
                <option value="fas fa-user">Humano</option>
                <option value="fas fa-apple-alt">Manzana</option>
                <option value="fas fa-cloud">Nube</option>
                <option value="fas fa-bread-slice">Pan</option>
                <option value="fas fa-dog">Perro</option>
                <option value="fas fa-fish">Pez</option>
                <option value="fas fa-exclamation">Signo de exclamación</option>
            </select>
            <textarea style="resize:none" name="content" id="content" rows="10"></textarea>
            <input type="submit" value="Generar">
        </form>
        예시: <img src="../../static/cloudImage/cloudian_example.png", alt="Exemplo", width="20%", height="20%"/>
    </div>
    <br />

    <div class="content container">
        <br />
        Pohangjecheol High School AI & Math Club "Math AI" (Youtube Channel: <a href="https://www.youtube.com/c/MathMVP">Math MVP</a>)<br />
        <br />
        This site was created by Donghyeon Gu. (gdonghyeon@postech.ac.kr) <br />
        <br />
        Otro generador de nudos de palabras: <a href="https://www.wordclouds.com/">wordcloud.com</a><br />
        <br />
        <div>
            <a href=#none id="show" onclick="if(hide.style.display=='none') {hide.style.display='';show.innerText='▲Fold'} else {hide.style.display='none';show.innerText='▶License'}">▶License</a>
            <div id="hide" style="display: none">
                Copyright (c) 2012 Andreas Christian Mueller<br />
                <br />
                Permission is hereby granted, free of charge, to any person obtaining a copy of<br />
                this software and associated documentation files (the "Software"), to deal in<br />
                the Software without restriction, including without limitation the rights to<br />
                use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of<br />
                the Software, and to permit persons to whom the Software is furnished to do so,<br />
                subject to the following conditions:<br />
                <br />
                The above copyright notice and this permission notice shall be included in all<br />
                copies or substantial portions of the Software.<br />
                <br />
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS<br />
                FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR<br />
                COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER<br />
                IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN<br />
                CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
                <br />
                <br />
                MIT License<br />
                <br />
                Copyright (c) 2019-2020 Max Woolf<br />
                <br />
                Permission is hereby granted, free of charge, to any person obtaining a copy<br />
                of this software and associated documentation files (the "Software"), to deal<br />
                in the Software without restriction, including without limitation the rights<br />
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
                copies of the Software, and to permit persons to whom the Software is<br />
                furnished to do so, subject to the following conditions:<br />
                <br />
                The above copyright notice and this permission notice shall be included in all<br />
                copies or substantial portions of the Software.<br />
                <br />
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS<br />
                FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR<br />
                COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER<br />
                IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN<br />
                CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
            </div>
        </div>
    </div>
</body>
</html>