{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- cloudian CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Cloudian</title>
</head>
<body>
    <div class="page-header">
        <h1>Wordcloud Generator</h1>
    </div>

    <div class="content container">
        <br />
        Language: <a href="{% url 'cloudian:main_kr' %}">한국어</a>
        <a href="{% url 'cloudian:main_en' %}">English</a><br />
        <br />
        <br />
        How to use:<br />
        1. Type the text you want to make into a wordcloud in the box below.<br />
        2. Choose the word cloud shape you want from 'Shapes'.<br />
        3. Press the 'Generate' button and wait.<br />
        4. Download the completed word cloud image.<br />
        <br />
        Note:<br />
        1. Words in parentheses may not be recognized properly.<br />
        2. If the sentence is too short or the number of words is small, the word cloud may not be generated properly.<br />
        3. Some punctuation marks or numbers can be printed together.<br />
    </div>

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <div class="content container">
        <br/>
        <br/>
        <form action="{% url 'cloudian:wc_create_en' %}" method="post">
            {% csrf_token %}
            <label for="shapes">Shapes</label>
            <select id="shapes" name="shapes">
                <option value="fas fa-anchor">Anchor</option>
                <option value="fas fa-apple-alt">Apple</option>
                <option value="fas fa-bell">Bell</option>
                <option value="fas fa-bread-slice">Bread</option>
                <option value="fas fa-circle">Circle</option>
                <option value="fas fa-cloud">Cloud</option>
                <option value="fas fa-comment">Comment</option>
                <option value="fas fa-crown">Crown</option>
                <option value="fas fa-dog">Dog</option>
                <option value="fas fa-exclamation">Exclamation</option>
                <option value="fas fa-flag">Flag</option>
                <option value="fas fa-filter">Filter</option>
                <option value="fas fa-fish">Fish</option>
                <option value="fas fa-heart">Heart</option>
                <option value="fas fa-square">Round Square</option>
                <option value="fas fa-skull">Skull</option>
                <option value="fas fa-square-full">Square</option>
                <option value="fas fa-star">Star</option>
                <option value="fas fa-user">User</option>
            </select>
            <textarea style="resize:none" name="content" id="content" rows="10"></textarea>
            <input type="submit" value="Generate">
        </form>
        Example: <img src="../../static/cloudImage/cloudian_example.png", alt="Example image", width="20%", height="20%"/>
    </div>
    <br />

    <div class="content container">
        <br />
        Pohangjecheol High School AI & Math Club "Math AI" (Youtube Channel: <a href="https://www.youtube.com/c/MathMVP">Math MVP</a>)<br />
        <br />
        This site was created by Donghyeon Gu. (gdonghyeon@postech.ac.kr) <br />
        <br />
        Other wordcloud generator: <a href="https://www.wordclouds.com/">wordcloud.com</a><br />
        <br/>
        <div>
            <a href=#none id="show" onclick="if(hide.style.display=='none') {hide.style.display='';show.innerText='▲Fold'} else {hide.style.display='none';show.innerText='▶License'}">▶License</a>
            <div id="hide" style="display: none">
                Copyright (c) 2012 Andreas Christian Mueller<br />
                <br />
                Permission is hereby granted, free of charge, to any person obtaining a copy of<br />
                this software and associated documentation files (the "Software"), to deal in<br />
                the Software without restriction, including without limitation the rights to<br />
                use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of<br />
                the Software, and to permit persons to whom the Software is furnished to do so,<br />
                subject to the following conditions:<br />
                <br />
                The above copyright notice and this permission notice shall be included in all<br />
                copies or substantial portions of the Software.<br />
                <br />
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS<br />
                FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR<br />
                COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER<br />
                IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN<br />
                CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
                <br />
                <br />
                MIT License<br />
                <br />
                Copyright (c) 2019-2020 Max Woolf<br />
                <br />
                Permission is hereby granted, free of charge, to any person obtaining a copy<br />
                of this software and associated documentation files (the "Software"), to deal<br />
                in the Software without restriction, including without limitation the rights<br />
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
                copies of the Software, and to permit persons to whom the Software is<br />
                furnished to do so, subject to the following conditions:<br />
                <br />
                The above copyright notice and this permission notice shall be included in all<br />
                copies or substantial portions of the Software.<br />
                <br />
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS<br />
                FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR<br />
                COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER<br />
                IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN<br />
                CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
            </div>
        </div>
    </div>
</body>
</html>